<h1><%= t('.Tasks Index Page') %></h1>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.content') %></th>
    <th><%= t('.created_at') %></th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.created_at.strftime("%Y/%m/%d/%H:%M") %></td>
    <td><%= link_to t('.Show'), task_path(task.id), id:'show-task' %></td>
    <td><%= link_to t('.Edit'), edit_task_path(task.id), id: 'edit-task' %></td>
    <td><%= link_to t('.Destroy'), task_path(task.id), method: :delete, id: 'destroy-task', data: {confirm: t('.Are you sure?')} %></td>
  </tr>
  <% end %>
</table>

<div class = 'index_paginate'><%= paginate @tasks %></div>
    
    
